/* Body Font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

/* Title Font - Roboto Sans */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Diego test Font */
@import url("https://fonts.googleapis.com/css2?family=Niramit&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
